Modules/Okta/.gitignore
Modules/Okta/LICENSE
Modules/Okta/Okta.psd1
Modules/Okta/Okta.psm1
Modules/Okta/README.md
Modules/Okta.Core.Automation/1.0.1/Okta.Core.Automation.csproj
Modules/Okta.Core.Automation/1.0.1/Okta.Core.Automation.psd1
Modules/Okta.Core.Automation/1.0.1/OktaCmdlet.cs
Modules/Okta.Core.Automation/1.0.1/PSGetModuleInfo.xml
Modules/Okta.Core.Automation/1.0.1/README.md
Modules/Okta.Core.Automation/1.0.1/app.config
Modules/Okta.Core.Automation/1.0.1/changelog.md
Modules/Okta.Core.Automation/1.0.1/packages.config
Modules/Okta.Core.Automation/1.0.1/AppUser/GetOktaAppUser.cs
Modules/Okta.Core.Automation/1.0.1/AppUser/RemoveOktaAppUser.cs
Modules/Okta.Core.Automation/1.0.1/AppUser/SetOktaAppUser.cs
Modules/Okta.Core.Automation/1.0.1/Events/GetOktaEvents.cs
Modules/Okta.Core.Automation/1.0.1/Factors/ActivateOktaUserFactor.cs
Modules/Okta.Core.Automation/1.0.1/Factors/EnrollOktaUserFactor.cs
Modules/Okta.Core.Automation/1.0.1/Factors/GetOktaUserFactor.cs
Modules/Okta.Core.Automation/1.0.1/Factors/ResetOktaUserFactor.cs
Modules/Okta.Core.Automation/1.0.1/Groups/AddOktaGroupMember.cs
Modules/Okta.Core.Automation/1.0.1/Groups/GetOktaGroup.cs
Modules/Okta.Core.Automation/1.0.1/Groups/GetOktaGroupMember.cs
Modules/Okta.Core.Automation/1.0.1/Groups/GetOktaUserGroups.cs
Modules/Okta.Core.Automation/1.0.1/Groups/NewOktaGroup.cs
Modules/Okta.Core.Automation/1.0.1/Groups/RemoveOktaGroupMember.cs
Modules/Okta.Core.Automation/1.0.1/Properties/AssemblyInfo.cs
Modules/Okta.Core.Automation/1.0.1/Users/DeleteOktaUser.cs
Modules/Okta.Core.Automation/1.0.1/Users/DisableOktaUser.cs
Modules/Okta.Core.Automation/1.0.1/Users/EnableOktaUser.cs
Modules/Okta.Core.Automation/1.0.1/Users/GetOktaApp.cs
Modules/Okta.Core.Automation/1.0.1/Users/GetOktaUser.cs
Modules/Okta.Core.Automation/1.0.1/Users/NewOktaUser.cs
Modules/Okta.Core.Automation/1.0.1/Users/SetOktaUser.cs
Modules/Okta.Core.Automation/1.0.1/Users/SetOktaUserResetPassword.cs
Modules/Okta.Core.Automation/1.0.1/Users/UnlockOktaUser.cs
Modules/Okta.Core.Automation/1.0.1/bin/Newtonsoft.Json.dll
Modules/Okta.Core.Automation/1.0.1/bin/Newtonsoft.Json.xml
Modules/Okta.Core.Automation/1.0.1/bin/Okta.Core.dll
Modules/Okta.Core.Automation/1.0.1/bin/Okta.Core.pdb
Modules/Okta.Core.Automation/1.0.1/bin/Okta.Core.xml
Modules/Okta.Core.Automation/1.0.1/bin/Okta.Core.Automation.dll
Modules/Okta.Core.Automation/1.0.1/bin/Okta.Core.Automation.pdb
Modules/Okta.Core.Automation/1.0.1/bin/Okta.Core.Automation.dll.config
Modules/Okta.Core.Automation/1.0.1/bin/Okta.Core.dll.config
Modules/Okta.Core.Automation/1.0.1/bin/System.IO.dll
Modules/Okta.Core.Automation/1.0.1/bin/System.IO.xml
Modules/Okta.Core.Automation/1.0.1/bin/System.Net.Http.dll
Modules/Okta.Core.Automation/1.0.1/bin/System.Net.Http.xml
Modules/Okta.Core.Automation/1.0.1/bin/System.Net.Http.Extensions.dll
Modules/Okta.Core.Automation/1.0.1/bin/System.Net.Http.Extensions.xml
Modules/Okta.Core.Automation/1.0.1/bin/System.Net.Http.Primitives.dll
Modules/Okta.Core.Automation/1.0.1/bin/System.Net.Http.Primitives.xml
Modules/Okta.Core.Automation/1.0.1/bin/System.Net.Http.WebRequest.dll
Modules/Okta.Core.Automation/1.0.1/bin/System.Net.Http.WebRequest.xml
Modules/Okta.Core.Automation/1.0.1/bin/System.Runtime.dll
Modules/Okta.Core.Automation/1.0.1/bin/System.Runtime.xml
Modules/Okta.Core.Automation/1.0.1/bin/System.Threading.Tasks.dll
Modules/Okta.Core.Automation/1.0.1/bin/System.Threading.Tasks.xml
Modules/Okta.Core.Automation/1.0.1/bin/Debug/Newtonsoft.Json.dll
Modules/Okta.Core.Automation/1.0.1/bin/Debug/Newtonsoft.Json.xml
Modules/Okta.Core.Automation/1.0.1/bin/Debug/Okta.Core.dll
Modules/Okta.Core.Automation/1.0.1/bin/Debug/Okta.Core.pdb
Modules/Okta.Core.Automation/1.0.1/bin/Debug/Okta.Core.Automation.dll
Modules/Okta.Core.Automation/1.0.1/bin/Debug/Okta.Core.Automation.pdb
Modules/Okta.Core.Automation/1.0.1/bin/Debug/Okta.Core.Automation.dll.config
Modules/Okta.Core.Automation/1.0.1/bin/Debug/Okta.Core.dll.config
Modules/Okta.Core.Automation/1.0.1/bin/Debug/System.IO.dll
Modules/Okta.Core.Automation/1.0.1/bin/Debug/System.IO.xml
Modules/Okta.Core.Automation/1.0.1/bin/Debug/System.Net.Http.dll
Modules/Okta.Core.Automation/1.0.1/bin/Debug/System.Net.Http.xml
Modules/Okta.Core.Automation/1.0.1/bin/Debug/System.Net.Http.Extensions.dll
Modules/Okta.Core.Automation/1.0.1/bin/Debug/System.Net.Http.Extensions.xml
Modules/Okta.Core.Automation/1.0.1/bin/Debug/System.Net.Http.Primitives.dll
Modules/Okta.Core.Automation/1.0.1/bin/Debug/System.Net.Http.Primitives.xml
Modules/Okta.Core.Automation/1.0.1/bin/Debug/System.Net.Http.WebRequest.dll
Modules/Okta.Core.Automation/1.0.1/bin/Debug/System.Net.Http.WebRequest.xml
Modules/Okta.Core.Automation/1.0.1/bin/Debug/System.Runtime.dll
Modules/Okta.Core.Automation/1.0.1/bin/Debug/System.Runtime.xml
Modules/Okta.Core.Automation/1.0.1/bin/Debug/System.Threading.Tasks.dll
Modules/Okta.Core.Automation/1.0.1/bin/Debug/System.Threading.Tasks.xml
Modules/Okta.Core.Automation/1.0.1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Modules/Okta.Core.Automation/1.0.1/obj/Debug/Okta.Core.Automation.dll
Modules/Okta.Core.Automation/1.0.1/obj/Debug/Okta.Core.Automation.pdb
Modules/Okta.Core.Automation/1.0.1/obj/Debug/Okta.Core.Automation.csproj.CopyComplete
Modules/Okta.Core.Automation/1.0.1/obj/Debug/Okta.Core.Automation.csproj.App.config
Modules/Okta.Core.Automation/1.0.1/obj/Debug/Okta.Core.Automation.csproj.CoreCompileInputs.cache
Modules/Okta.Core.Automation/1.0.1/obj/Debug/Okta.Core.Automation.csproj.FileListAbsolute.txt
Modules/Okta.Core.Automation/1.0.1/obj/Debug/Okta.Core.Automation.csprojResolveAssemblyReference.cache
Modules/Okta.Core.Automation/1.0.1/obj/Release/Okta.Core.Automation.dll
Modules/Okta.Core.Automation/1.0.1/obj/Release/Okta.Core.Automation.pdb
Modules/Okta.Core.Automation/1.0.1/obj/Release/Okta.Core.Automation.csproj.CopyComplete
Modules/Okta.Core.Automation/1.0.1/obj/Release/Okta.Core.Automation.csproj.App.config
Modules/Okta.Core.Automation/1.0.1/obj/Release/Okta.Core.Automation.csproj.CoreCompileInputs.cache
Modules/Okta.Core.Automation/1.0.1/obj/Release/Okta.Core.Automation.csproj.FileListAbsolute.txt
Modules/Okta.Core.Automation/1.0.1/obj/Release/Okta.Core.Automation.csprojResolveAssemblyReference.cache
Scripts/exchange-remote.ps1
Scripts/ADUserCleanUp.ps1
Scripts/AddComputersToGroup.ps1
Scripts/AddUsersToGroup.ps1
Scripts/AzureADSync.ps1
Scripts/ComputerLastLoggedOn.ps1
Scripts/ComputersUserLoggedOnTo.ps1
Scripts/CopyGroupMembership.ps1
Scripts/DirSync.ps1
Scripts/DisableLicenseOptionsE1.ps1
Scripts/DisableLicenseOptionsE3.ps1
Scripts/E1LicesensOptions.ps1
Scripts/E3LicensesOptions.ps1
Scripts/ElevatedAdminPrompt.ps1
Scripts/EmployeeTerm.ps1
Scripts/Get-ClutterDetails.ps1
Scripts/Get-GroupMember.ps1
Scripts/Get-LocalGroupMembership.ps1
Scripts/InactiveComputers.ps1
Scripts/InactiveComputersEmail.ps1
Scripts/LastBootTime.ps1
Scripts/LastBootTimefromFile.ps1
Scripts/LastLoggedOnUser.ps1
Scripts/LicenseExport.ps1
Scripts/LicenseExportByCompany.ps1
Scripts/LicenseMSOLUser.ps1
Scripts/MigrateToOffice365.ps1
Scripts/MigrateToOnPrem.ps1
Scripts/MigrationStatistics.ps1
Scripts/New-MailEnabledUser.ps1
Scripts/New-SharedMailbox.ps1
Scripts/NewMailEnabledUser.ps1
Scripts/NewMailEnabledUserV2.ps1
Scripts/NewMailEnabledUserV2.1.ps1
Scripts/NewMailEnabledUserV2.2.ps1
Scripts/NewMailEnabledUserV4.0.ps1
Scripts/NewMailEnabledUserV5.0.ps1
Scripts/PasswordExpireDateByOU.ps1
Scripts/PasswordLastSet_Export.ps1
Scripts/RandomPassphrase.ps1
Scripts/Remove-GroupMembership.ps1
Scripts/RemoveFromGroups.ps1
Scripts/RemoveMSOLUser.ps1
Scripts/RemoveUsersfromOU.ps1
Scripts/ResetPasswordTerm.ps1
Scripts/Serversinfo.ps1
Scripts/SetRegKey.ps1
Scripts/Untitled1.ps1
Scripts/Untitled2.ps1
Scripts/Untitled4.ps1
Scripts/UserLastLogon.ps1
Scripts/WMIExplorer.ps1
Scripts/exchange2010-remote.ps1
Scripts/mailboxpermissionsbymanager.ps1
Scripts/o365+CompCent.ps1
Scripts/o365-remote.ps1
Scripts/removecomputers.ps1
Scripts/untitled3.ps1
